.container {
	background: oldlace;
	border-radius: 1rem;
	padding: 0.3rem;
	width: 50vw;
}

 p {
color: black;
margin-left: 20px !important;
}
 h3 {
color: black;
margin-left: 20px !important;
}
.box, .iconTrash{
	float: right;
	position: relative;
	bottom: 10px;
}	
.box{
	margin-right: 3px;

}