.btnss{
	float: right;
	margin-left: 10px;
}
.inputt{
	width: 30vw !important;
}
.cardBody {
	margin-top: 10px;
}
 .cardBody:hover{
	 transform: scale(1.03);
 }
.text{
	font-family: 'Pangolin', cursive;
}
.add-text{
	font-family: 'Pangolin', cursive;
width: 70px !important;
margin-right: 0px !important;
}

.add {
	border-radius: 40% !important;
}
.add-icon{
margin-bottom: 5vh !important;
}
.add-icon:hover, .text:hover{
	transform: scale(1.1);
}
.Submit-btn{
	background-color: black !important;
	margin-left: 5px !important;
}
.example-enter {  
  opacity: 0.01;  
}  
  
.example-enter.example-enter-active {  
  opacity: 1;  
  transition: opacity 500ms ease-in;  
}  
  
.example-leave {  
  opacity: 1;  
}  
  
.example-leave.example-leave-active {  
  opacity: 0.01;  
  transition: opacity 300ms ease-in;  
}  

.animate__animated.animate__bounce {
  --animate-duration: 2s !important;
}