.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.card-text {
	color: black;
}
.adds {
	margin-bottom: 20px !important;
	margin-top: 20px !important;

}
.inputs{
	width: 50vw !important;
}